<!DOCTYPE html>
<html>
    <head>
        <title>404 error</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="shortcut icon" href="/img/icon.png" type="image/x-icon">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            {{title}}
            {{para}}
        </div>
        
        {{!-- <--<p>Created by {{name}}</p> --}}
        {{>footer}}
    </body>
</html>