<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="shortcut icon" href="/img/icon.png" type="image/x-icon">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
           <h1>Help!</h1>
           <h2>{{contact}}</h2>
           <p>For help contact {{phone}}</p>
        </div>
        
        {{>footer}}
    </body>
</html>